############################
# npm
############################
node_modules
npm-debug.log

############################
# bower
############################
bower_components

############################
# jekyll
############################
_site

############################ 
# tmp, editor & OS files
############################ 
.tmp
.DS_STORE
*~