body.page-comunidades,
body.og-context-node {
	#quicktabs-cdp_group_activity {
		.quicktabs-style-basic,
		.quicktabs-tabs {
			border-bottom: none!important;
			li,
			li.first {
				border: 1px solid #ddd;
				border-radius: 4px;
			}
		}
	}
	#quicktabs-container-cdp_group_activity {
		background: transparent!important;
		list-style: none!important;
		padding: 0!important;
		border: none!important;
		.view-content {
			.views-row {
				box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
				background: #fff;
				border: 1px solid #ddd;
				padding: 18px!important;
				border-radius: 5px;
				.node-teaser {
					background: transparent!important;
					padding: 0!important;
					border: none!important;
				}
				&:hover {
					background: #f8f8f8;
				}
			}
		}
	}
	#main-content-area {
		.nav-tabs {
			font-weight: bold!important;
			margin-top: 73px;
		}
		.region-content {
			border-top: 1px solid #DDDDDD;
			border-radius: 4px;
			.search-form {
				color: #666;
				padding: 14px 18px 0 18px!important;
				.form-item-retain-filters {
					float: right;
					label {
						display: inline;
					}
				}

			}
			#block-system-main {
				> h2 {
					display: none!important;
				}
			}
			padding: 0!important;
			ol.apachesolr_search-results,
			#quicktabs-container-cdp_group_activity {
				background: transparent!important;
				list-style: none!important;
				padding: 0!important;
				.content {
					p {
						font-style: italic;
					}
				}
				li {
					h3.title {
						display: none!important;
					}
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
					background: #fff;
					border-bottom: 1px solid #ddd;
					padding: 0 18px!important;
					&:hover {
						background: #f8f8f8;
					}
					.field-name-field-group-logo {
						img {
							.img-circle;
							margin-right: 20px;
						}
					}
					.node {
						border: none;
					}

					.node-links-container {
						display: none;
					}

					.search-snippet-info {
						padding: 0!important;
						.search-info {
							display: none;
						}
					}
				}
			}
		}


	}

	.region-sidebar-first {
		margin-top: 10px;
		#block-block-10 {
			padding: 0px;
			.pane-block {
				padding: 0px;

				a {
					background: #428BCA url('../images/icones/ico_comunidades.png') no-repeat left center;
					width: 100%;
					font-weight: bold;
					padding-left: 41px;
					padding-top: 9px;
					font-size: 16px;
					text-align: left;
					min-height: 45px;
				}
			}
		}
	}
}