//////////////////
// Não façam isso em casa :P
// ----------------------------

.page-search-pessoas {
	#main-content-area {
		background: transparent!important;
		border: none!important;
	}
	#main-content-inner {
		.page-header {
			display: none;
		}
	}
	.apachesolr_search-results {
		background: transparent!important;
	}
}