
/**
 * @file
 * CSS para as buscas e o apachesolr
 */

.block-facetapi {
  font-weight: bold;

  h2.block-title {
    margin-left: 0px;
    padding-left: 43px;
    min-height: 40px;
    background-image: url('../images/icones/icon-small-filter.png');
    background-repeat:  no-repeat;
    background-position: 10px 10px!important;
    font-size: 16px;
    color: @blueDark;
    text-transform: none;
    border: 0px;
  }

  ul.facetapi-facetapi-checkbox-links {
    padding-left: 0px;
    padding-top: 7px;

    li {
      margin: 2px 0;
      min-height: 32px;

      a {
        color: #fff;
        background-color: @blueDark;

        .rounded-corners(5px);
        display: inline;
        padding: 5px 10px;

        line-height: 31px;

      }

      input {
        float: left;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 6px;
      }
    }
  }

  a.facetapi-limit-link {
    display: block;
    padding-left: 25px;
    background: url('../images/icones/filtro_icone_mais.png') no-repeat 3px center;

    margin-bottom: 5px;
    text-decoration: underline;

    &.open {
      background: url('../images/icones/filtro_icone_menos.png') no-repeat left center;
    }
  }
}


body.page-relatos,
body.page-comunidades,
body.page-search {
  h1.page-header {
    font-size: 20px;
    font-weight: bold;
    background: url('../images/icones/busca_icone.png') no-repeat left center;
    padding: 15px 0px 15px 45px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px dashed @mainAreaBorder;

    color: #206496;

  }

  #main-content-inner {
    h3.title {
      margin-bottom: 0px;
      margin-top: 10px;
    }

    .region-content {
      background: none repeat scroll 0 0 #FFFFFF;
      padding: 10px 15px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      #block-system-main {
        & > h2 {
          font-size: 16px;
          margin: 5px 0px;
          color: #888;
        }

        #search-form {
          border-bottom: 1px solid #ddd;
          padding: 10px 0px 8px 0px;
          .clearfix;

          .form-type-textfield {
            float: left;

            label {
              display: inline;
              margin-right: 5px;
            }
            input {
              display: inline;
              width: 300px;
            }
          }

          button.form-submit {
            margin-left: 10px;
          }
        }
      }
    }
  }

}